.verify__success {
  background: #404046;
  color: #d7d9d9;
  max-width: 370px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 15rem;

  button {
    font-weight: 500;
  }
}
