.navbar {
    background: #6982ff;
    box-shadow: 1px 1px 1px 0px #6990ff21;

    button {
        font-size: .8rem;
        background: transparent;
        border: none;
        padding: .1rem;
    }

    button:hover {
        background: #f8f8ff
    }
}

.navbar-light .navbar-brand {
    color:#f8f8ff
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f8ff;
}

.navbar-toggler {
    padding: 0;
    font-size: 1rem;
    border: none;
    color: #f8f8ff
}

.NavItem {
    margin: auto .2rem;
    color: #f8f8ff
}

.Search {
    margin-left: auto;
}