@media (min-width: 768px) {
  .gameListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .gameListContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
