#searchDiv {
  width: 50%;
}

.search {
  .searchForm {
    display: flex;
    justify-content: flex-end;

    input[type='text'] {
      width: 80%;
      background: #404046;
      border: none;
      padding: 0.5rem;
      border-radius: 0.3rem;
      color: #d7d7d9;

      &:focus {
        outline: none;
        border: none;
      }
    }

    button {
      background: #404046;
      margin-left: -1rem;
      border-radius: 0.3rem;
    }
  }
}

@media (min-width: 400px) {
  #searchDiv {
    width: 300px;
    display: block;
  }
}
